include templates/top.html



section
    img(src='images/CFG_logo.svg').logo

    p
        small.ok-orange CODE A DIFFERENCE: Nutz&apos; deine Fähigkeiten, um deine Stadt zu verbessern!


section&attributes({'id': 'code-for-chemnitz', 'data-transition': 'none'})
    img.logo(src='images/CFG_logo.svg')

    span#stamp

    p
        small.ok-orange
            | CODE A DIFFERENCE: Nutz&apos; deine Fähigkeiten, um deine Stadt zu verbessern!

section#about(data-state='ok-lab-blue')
    p
        span.bold Was ist Code for Germany?
        br
        | Ein Netzwerk von Menschen, die sich praktisch mit öffentlichen Daten und Civic Tech beschäftigen.

    p
        span.bold Die Idee dahinter:
        br
        | Gemeinsam Open Data, Partizipation und staatliche
        | Transparenz vorantreiben und nützliche digitale
        | Werkzeuge für Bürger entwickeln.

    p
        span.bold Partner:
        br
        | Gestartet wird das Programm von der Open Knowledge
        | Foundation Deutschland in Partnerschaft mit Code
        | for America, Google und aktiven Teams in ganz DE.

section#how(data-state='ok-lab-green')
    p
        span.bold Wie?

    p Lokale Gruppen in Städten: OK Labs (Open Knowledge Labs)
    p
        span.bold / treffen
        |  sich regelmäßig um an Anwendungen und Visualisierungen für ihre Stadt zu arbeiten.
    p
        span.bold / vernetzen
        |  sich deutschlandweit um gemeinsam an Projekten zu arbeiten.

    p / stellen ihre Projekte bzw. deren Status auf einer gemeinsamen Plattform vor: codefor.de
    p / bekommen Hilfe von Experten und Unterstützung bei der Öffentlichkeitsarbeit und bei der Arbeit mit der lokalen Verwaltung.

section#goals(data-state='ok-lab-red')
    p
        span.bold Ziele:

    p / Gemeinsam mehr Werkzeuge für Bürger entwickeln
    p / Das Thema Open Data vorantreiben &ndash; Mehr Daten öffnen!
    p / Mehr Sichtbarkeit für spannende lokale Projekte
    p / Austausch auch auf internationaler Ebene

section#timeline(data-state='ok-lab-blue')
    img(src='images/timeline.png')

section#support
    h1 Unterstützung
    ul
        li Pressearbeit
        li Materialien
        li Kontakte
        li Technik
        li Veranstaltungen

    aside.notes
        ul
            li Pressearbeit: Aufmerksamkeit generieren, Social Media Kanäle
            li Materialien: Merchandise, Slidedecks
            li Kontakte: Untereinander, Organisation, Experten
            li Technik: chemnitz@codefor.de, chemnitz.codefor.de, Github
            li Veranstaltung: Sponsoring eines größeres Event (Hackday, Pressekonferenz) -&gt; Kontakt zu Politik/Verwaltung, Ende des Jahres: Pressekonferenz

section#whats-next
    h1 What's next

    ul
        li regelmäßige Treffen
        li 2-3 Themen/Anwendungen suchen, um daran zu arbeiten (Zeitfenster einige Wochen)
        li über unsere Arbeit reden! Twittern, Fotos machen, Github-Repos füllen, Dokumentation, Blogbeiträge
        li lokale Pressearbeit
        li größere Veranstaltung planen

section#important-stuff
    h1 Wichtiges

    ul
        li Rücksprache mit OKFN
        li Open Source Lizenzen
        li Google+ Community&nbsp;
            a(href='http://goo.gl/72okFb') http://goo.gl/72okFb

        li #codeforde auf freenode
        li Unsere Umgebung:&nbsp;
            a(href='https://twitter.com/keimlink') @keimlink (Leipzig)&nbsp;
            a(href='https://twitter.com/kiliankoe') @kiliankoe (Dresden)

section#copyright
    p
        a(href='https://docs.google.com/presentation/d/1vuBJs9VGr2ALY6Nr7rU5Vgw4ThV6H5AMZo4l55rL2iQ/edit#slide=id.p') Material von codefor.de:
        |  #about, #how, #goals, #timeline

    p
        | Alles andere:&nbsp;
        a(href='https://creativecommons.org/licenses/by/3.0/de/') CC-BY Morris Jobke


include templates/bottom.html