include templates/top.html

section
    img.logo(src='images/CFG_Chemnitz.svg')
    p
        small.ok-orange CODE A DIFFERENCE: Nutz' deine Fähigkeiten, um deine Stadt zu verbessern!
section
    h2 Gliederung
    ol
        li Wer sind wir?
        li Was ist Code for Germany?
        li Das OK-Lab Chemnitz
        li Projekte Chemnitz
        li Projekte Deutschland
        li Offene Daten in Chemnitz?!
        li Die Zukunft
section
    section
        h2 Wer sind wir?
    section
        h3(style='line-height:1.2em')
            | Tobias Gall,
            br
            | Ronny Hartenstein &
            br
            | Morris Jobke
            br
            br
            p(style='line-height:1.1em')
            | Lab Leads, Webentwickler (PHP, Python)
            br
            | Open-{Source|Data|...}-Enthusiasten
            br
            | Interessiert an kuhlen Projekten
        br
section
    section
        h2 Was ist Code for Germany?
    section.left
        p
            span.bold Was ist Code forGermany?
            br
            | Ein Netzwerk von
            | Menschen, die sich praktisch mit
            | öffentlichen Daten und Civic Tech
            | beschäftigen.
        p
            span.bold
                | Die Idee dahinter:
            br
            | Gemeinsam
            | Open Data, Partizipation und staatliche
            | Transparenz vorantreiben und nützliche
            | digitale Werkzeuge für Bürger entwickeln.
        p
            span.bold Partner:
            br
            | Gestartet wurde das Programm von der Open
            | Knowledge Foundation Deutschland in
            | Partnerschaft mit Code for America, Google
            | und aktiven Teams in ganz DE.
    section.left
        h3 Wie?
        p Lokale Gruppen in Städten: OK Labs (Open Knowledge Labs)
        p
            | /
            span.bold treffen
            |  sich regelmäßig um an Anwendungen und Visualisierungen für ihre Stadt zu arbeiten.
        p
            | /
            span.bold vernetzen
            |  sich deutschlandweit um gemeinsam an Projekten zu arbeiten.
        p
            | / stellen ihre Projekte bzw. deren Status auf einer gemeinsamen Plattform vor:
            span.bold codefor.de
        p
            | / bekommen Hilfe von Experten und Unterstützung bei der Öffentlichkeitsarbeit und bei der Arbeit mit der lokalen Verwaltung.

    section.left
        h3 Ziele
        p / Gemeinsam mehr Werkzeuge für Bürger entwickeln
        p / Das Thema Open Data vorantreiben – Mehr Daten öffnen!
        p / Mehr Sichtbarkeit für spannende lokale Projekte
        p / Austausch auch auf internationaler Ebene

section
    img(src='images/karte2.png', style='height: 100%; margin-top: -103px;')
section
    section
        h2 Das OK-Lab Chemnitz
    section.left
        h3 Geschichte
        p / 22. Februar 2014 - Open Data Day
        p / März - Aufruf zur Gründung von Labs von OKFN
        p / Dezember - Assembly auf dem 31C3 mit anderen Labs
        p / Regelmäßige Treffen (jeden zweiten Donnerstag)
    section.left
        h3 Unsere Ziele
        p / Leute finden, die Lust haben mitzumachen
        p / offene Daten sammeln
        p / gemeinsam Projekte umsetzen
        p / mehr Daten in Chemnitz öffnen
section
    section
        h2 Projekte Chemnitz
    section
        img(src='images/Uebersicht-Baustellen.png')
        img(src='images/Detail-Baustelle.png')
    section
        h3 Daten abrufen und parsen
        ol
            li.fragment Übersicht-Webseite abrufen
            li.fragment URLs für Detailseiten finden
            li.fragment Detailseiten abrufen
            li.fragment Daten versuchen zu interpretieren (Datum, Lagebeziehungen)
            li.fragment Daten als Schlüssel-Wert-Paare abspeichern
    section
        h3 Daten abrufen und parsen (II)
        span seit 10.05.2013
        pre.fragment
            code(data-trim, contenteditable).json.hljs.
                {
                    "since": "2013-05-10",
                    "until": null
                }
        span von 10.05.2013 bis 15.06.2013
        pre.fragment
            code(data-trim, contenteditable).json.hljs.
                {
                    "since": "2013-05-10",
                    "until": "2013-06-15"
                }

    section
        h3 Daten abrufen und parsen (III)
        span zwischen Lange Straße und Leipziger Straße
        pre.fragment
            code(data-trim, contenteditable).json.hljs.
                {
                    "relation": "between",
                   "streets": ["Lange Straße", "Leipziger Straße"]
                }
        span Kreuzung Bornaer Straße/Wittgensdorfer Straße
        pre.fragment
            code(data-trim, contenteditable).json.hljs.
               {
                    "relation": "intersection",
                    "streets": ["Bornaer Straße", "Wittgensdorfer Straße"]
                }
    section
        h3 Und nun?
        pre.fragment
            code(data-trim, contenteditable).json.hljs.
                {
                    "relation": "intersection",
                    "streets": ["Bornaer Straße", "Wittgensdorfer Straße"]
                }
        span.fragment(style='font-size:70px;') ↓
        pre.fragment
            code(data-trim, contenteditable).json.hljs.
                {
                    "lat": 50.840775,
                    "lng": 12.906360
                }
    section
        h3.fragment OpenStreetMap
        img(src='images/osm.png', style='box-shadow: none;')
        br
        img.fragment(style='box-shadow: none;', src='images/overpass.png')
    section
        pre(style='width:100%;')
            code(data-trim, contenteditable).json.hljs.
                <osm-script>
                    <osm-script output="json" timeout="25">
                        <id-query into="area" {{nominatimArea:Chemnitz}} type="area"></id-query>
                        <union>
                            <query type="way">
                                <has-kv k="name" v="PLACEHOLDER"></has-kv>
                                <area-query from="area"></area-query>
                            </query>
                        </union>
                        <print mode="body"></print>
                        <recurse type="down"></recurse>
                        <print mode="skeleton" order="quadtile"></print>
                    </osm-script>
                </osm-script>
    section
        h3 Schnittstellen finden
    section
        img(src='images/kreuz.png')

    section
        h3 Maifeuer
        img(src='images/Maifeuer-Sachsen-Fernsehen.png')
        br
        a(href='http://www.sachsen-fernsehen.de/Aktuell/Chemnitz/Artikel/1353000/Liste-der-stattfindenden-Hexenfeuer-in-Chemnitz-2014/', style='font-size: 15px;') Quelle: Sachsen Fernsehen
    section
        img(src='images/Feuer.png')

    section(style='margin-top:-70px')
        h3 Trinkwasser
        p
            img(src='images/trinkwasser.jpg', height='70%')
        p
            a(href='http://codeforchemnitz.de/trinkwasser/', target='_blank') codeforchemnitz.de/trinkwasser/
        p
            a(href='http://www.eins.de/ueber-eins/netze/trinkwasser/', target='_blank', style='font-size: 15px;') Quelle: eins
    section
        h3 Spannend weil:
        ul
            li.fragment grafisch hübsch aufbereitet
            li.fragment Erklärungen zu Bestandteilen
            li.fragment Vergleich mit Mineralwässern
            li.fragment Erklärt Wasserhärte (unspannend)
            li.fragment funktioniert auch auf Smartphone
    section
        p Aber: es fehlen Daten :(
        p Datensätze je Hochbehälter wären klasse!

    section(style='margin-top:-70px')
        h3 Visualisierung von Geodaten
        // img src="images/cartodb-logo.png"
        img(src='images/cartodb-baustellen.png', height='70%')
        p
            b Baustellen!
            br
            a(href='https://rhflow.cartodb.com/viz/d35ff27a-7ce3-11e4-965d-0e9d821ea90d/public_map', target='_blank', style='font-size: 15px;') cartodb.com/../baustellen

    section(style='margin-top:-70px')
        h3 Städtische Leuchten in Rostock
        img(src='images/cartodb-leuchten-rostock.png', height='70%')
        p
            a(href='https://rhflow.cartodb.com/viz/05354958-c69a-11e4-be23-0e9d821ea90d/public_map', target='_blank', style='font-size: 15px;') cartodb.com/../leuchten

    section(style='margin-top:-70px')
        h3 Quelldaten: OpenData.HRO (CKAN v1.8)
        img(src='images/opendata-rostock-leuchten-okfn.png', height='70%')
        p
            a(href='http://www.opendata-hro.de/dataset/leuchten', target='_blank', style='font-size: 15px;') Quelle: opendata-hro.de/dataset/leuchten
        p(style='font-size: 0.6em;')
            | basiert auf
            a(href='http://ckan.org/') CKAN
            | :
            i the world’s leading open-source data portal platform

    section(style='margin-top:-70px')
        h3 opendata-chemnitz.de
        h3.fragment basierend auf CKAN
        p.fragment
            img(src='images/FTW.png')
        p.fragment(style='font-size: 0.8em;') abwarten ...


section
    section
        h2 Coole Projekte in Deutschland
        a(href='http://codefor.de/projekte/') codefor.de/projekte
    section
        p Bürger baut Stadt
        img(src='images/buergerbautstadt.png')
    section
        p Parkplätze Dresden
        img(src='images/parkhaeuser.PNG')
    section
        p Things on Bikelines
        img(src='images/things.png')
    section
        p Barrierefreiheit im ÖPNV
        img(src='images/access.png')
    section
        p Historische Entwicklung Berlins
        img(src='images/entwicklung-berlin.png')
    section
        h2 Redeployment
        img(src='images/Wasser.png')
        br


section
    section
        h2 Offene Daten in Chemnitz?!
        ul
            li.fragment es gibt veröffentliche Daten
            li.fragment z.B. Amtsblätter
            li.fragment verstreut über die Webseite
            li.fragment schwierig zu finden
            li.fragment ungünstige Formate (PDF)
            li.fragment Lizenz?
            li.fragment Korrektheit?
    section
        h2 Probleme!
        ul
            li.fragment Welche Daten gibt es?
            li.fragment Welche Daten kann man Anfragen?
    section
        h3 \o/
        h3  Wir wurden von einem Stadtrat nach unseren Wünschen gefragt
        h3 \o/


section
    h2 Die Zukunft
    ul
        li.fragment Kontakte zu anderen OK Labs (Leipzig, Dresden)
        li.fragment Gemeinsame Treffen
        li.fragment Gemeinsames Arbeiten
        li.fragment Spaß an der Sache
section
    h1 und
section
    h2 Wir brauchen
    h1 strukturierte
    h1 aktuelle
    h1 lizensierte
    h2 Daten

section
    h3 Vielen Dank für ihre Aufmerksamkeit!
    br

section
    section
        h2 Tooling
    section
        h3 overpy
        pre
            code(data-trim, contenteditable).
                import overpy
                api = overpy.Overpass()
                # fetch all ways and nodes
                result = api.query("""
                way["name"="%s"] ["highway"];
                (._;>;);
                out body;
                """%('Rathausstraße'))
                # print lat/lon for all nodes in all ways
                for way in result.ways:
                    print("Name: %s" % way.tags.get("name", "n/a"))
                    for node in way.nodes:
                    print("Lat: %f, Lon: %f" % (node.lat, node.lon))
    section
        h4 Overpass-XML
        pre
            code(data-trim, contenteditable).
                <osm-script output="json" timeout="25">
                    <id-query into="area" ref="3600062594" type="area"></id-query>

                    <query type="way">
                        <has-kv k="name" v="%s"></has-kv>
                        <has-kv k="highway" ></has-kv>
                        <area-query from="area"></area-query>
                    </query>

                    <print mode="body"></print>
                    <recurse type="down"></recurse>
                    <print mode="skeleton" order="quadtile"></print>
                </osm-script>

include templates/bottom.html